<nav class="navbar navbar-light bg-dark"
    style="
    margin-top: -40px;
    margin-left: -18%;
    width: 135%;">
  <a class="navbar-brand" href="#" 
    style="
    font: bold 40px Arial;
    color: hsl(0, 0%, 100%); 
    margin-left: 15%;">Add a Group Book
  </a>
</nav>
{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<div class="container">    
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="card card-header">
            <div class="card-title">
                <h4><strong>Type Information</strong></h4>
            </div>
        </div>                    
        <div class="card card-info" >   

                <div style="padding-top:30px" class="card-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                        
                    <form action="/admin/generos/nova" method="POST" id="loginform" class="form-horizontal" role="form">
                                
                        <div style="margin-bottom: 25px" class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-font"></i></span>
                            <input id="nome" type="text" class="form-control" name="nome" required value="" placeholder="name">                                        
                        </div>

                            <div style="margin-bottom: 25px" class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-bullseye"></i></span>
                            <input type="text" class="form-control" id="slug" name="slug" required value="" placeholder="slug">                                        
                        </div>

                        <div style="margin-bottom: 25px" class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-quote-left"></i></span>
                            <select name="genero" id="genero" required class="custom-select">
                                <option value="Narrativo">Narrativo</option>
                                <option value="Lírico">Lírico</option>
                                <option value="Dramático">Dramático</option>
                            </select>
                        </div>

                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->

                                <div class="col-sm-12 controls">
                                    <button class="btn btn-success" type="submit">Confirm</button>
                                </div>
                            </div>   
                        </form>     



                    </div>                     
                </div>  
    </div>
</div>