<header>
  <h1 style="text-align: center;">Recuperação de senha
  </h1>
</header>
<form action="/usuarios/recuperacao" method="POST" style="width: 60%; margin-left: auto; margin-right: auto;">
    <input type="email" name="email" id="email" style="display: block; margin-left: auto; margin-right: auto;" placeholder="Digite o e-mail da conta" class="form-control" required>
    <button class="btn btn-success mt-4" id="bl" style="display: block; margin-left: auto; margin-right: auto;" type="submit">Enviar</button>
    <p></p>
</form>